<!DOCTYPE html>
<html>
  <head>
    <title><%= user.firstName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <h1>user: <%= user.firstName %></h1>

    <ul>
      <li><a href="/users/<%= user.userId %>/update"><i class="icon-pencil"></i></a></li>
      <li class="id_number">user id: <%= user.userId %></li>
      <li>name: <%= user.firstName || "no name" %></li>
      <li>address: <%= user.streetAddress || "no address" %></li>
      <li>zipcode: <%= user.zipcode || "no zipcode" %></li>
      <li>favorite house feature: <%= user.favoriteHouseFeature || "no house feature" %></li>
      <li>brain pass:<%= user.brainPass || "false" %></li>
      <li>courage pass: <%= user.couragePass || "false" %></li>
      <li>heart pass: <%= user.heartPass || "false" %></li>
    </ul>

  </body>
</html>
