<!DOCTYPE html>
<html>
  <head>
    <title>update user form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>update user form</h1>

    <%= message %>

    <form action="/users/<%= user.userId %>" method="post">

    	<input name="_method" type="hidden" value="put" />

    	<label>user id
    		<input name="userId" type="text" value="<%= user.userId %>" />
    	</label>

    	<label>user first name
    		<input name="firstName" type="text" value="<%= user.firstName %>" />
    	</label>

    	<label>user zipcode
    		<input name="zipcode" type="text" value="<%= user.zipcode %>" />
    	</label>

    	<input value="update user" type="submit" />

    </form>

    <form action="/users/<%= user.userId %>" method="post">

        <input name="_method" type="hidden" value="delete" />

        <input value="delete user" type="submit" />

    </form>

  </body>
</html>